.getDirections {
    display: flex;
    justify-content: center;
    padding: .6rem;
}

.getDirections button {
    height: 5vh;
    width: 496px;
    /* align-items: center; */
    border-radius: 128px;
    background: var(--Secondary-Indigo);
    color: var(--Neutral-White);
    border-color: none;
    
}

.getDirections button:hover {
    background-color: var(--Secondary-Mid-Indigo);
}