/* main div for the home.jsx page */
.homeStyling {
  justify-content: center;
  left: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 90rem;
  margin-left: auto;
  margin-right: auto;
}
/* removing the styling on the text links */
.homeStyling a {
  text-decoration: none;
  color: var(--Neutral-Black, #1b1b1b);
}
