/* BODY */
.directionsStationNameWrapper {
  background: linear-gradient(
    90deg,
    var(--Secondary-Dark-Indigo, #131045) 0%,
    var(--Secondary-Mid-Indigo, #3129ac) 100%
  );
  color: var(--Neutral-White);
  display: flex;
  width: 100%;
  padding: 3rem 10rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0;
}

.directionsStationName {
  color: #fff;

  /* Z Energy/Desktop/H1 */
  font-family: Inter;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 4.3875rem */
}

/* LEFT SECTION */
.directionsSectionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: var(--Neutral-White, #fff);
}

.directionsLeftSection {
  flex: 0 0 30rem;
  /* width: 50%; */
  padding-left: 8rem;
}

.directionsSearchWrapper {
  /* layout */
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  gap: 1rem;
  width: 100%;
  padding-top: 2rem;
}

.directionsInputRow {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Apply only to second input */
.directionsInputRow:nth-child(2) .directionsSearchInput {
  margin-left: calc(1.75rem + 0.75rem); /* match icon width + spacing */
}

.directionsBackIconWrapper {
  display: flex;
  align-items: center;
}

.directionsSearchInput {
  /* layout */
  flex: 1;
  /* display: flex; */
  flex-direction: column;
  padding: 0.75rem 1rem;
  padding-left: 2.5rem;

  /* style */
  border-radius: 0.875rem;
  border: 1px solid var(--Neutral-Mist, #f8f8f8);
  background: var(--Neutral-Mist, #f8f8f8);
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}

.directionsLocationIcon {
  position: absolute;
  background-color: transparent;
  border: transparent;
  left: 3.25rem;
  cursor: pointer;
}

.directionsPlusIconButton {
  position: absolute;
  right: -2rem;
  top: -10%;
  transform: translateY(-50%);
}

.directionsBackIconButton,
.directionsPlusIconButton {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.directionsBackIconButton {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.directionsStationCard {
  margin-top: 2rem;
  padding: 0.5rem;
}

.directionsStationCardHeaders {
  color: var(--Secondary-Indigo, #1e196a);
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 2.925rem */
  margin-top: 2rem;
}

.directionsStationCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.directionsStationCardInfo {
  padding-left: 2rem;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* RIGHT SECTION */
.directionsRightSection {
  flex-grow: 1;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

@media (max-width: 50rem) {
  .directionsSectionWrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .directionsLeftSection {
    width: 100%;
    padding-left: 2rem;
  }

  .directionsRightSection {
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
  }
}
