/* Global Layout Baseline */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Font Definitions */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* shows fall back font immediately, then swap to custom font when ready */
}

/* Base Typography & Colour */
:root {
  /* Primary Font */
  --primary-font: "Inter";

  /* Font Size */
  --font-size-sm: 0.9169rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Headings */
  --heading-size-h1: 4.5rem;
  --heading-size-h2: 4rem;
  --heading-size-h3: 3rem;
  --heading-size-h4: 2rem;
  --heading-size-h5: 1.75rem;
  --heading-size-h6: 1.5rem;

  /* Colour */
  --Neutral-White: #ffffff;

  --Neutral-Mist: #f8f8f8;
  --Neutral-Light-Gray: #e6e6e6;
  --Neutral-Gray: #b1b1b1;
  --Neutral-Dark-Gray: #6c6c6c;
  --Neutral-Charcoal: #353535;
  --Neutral-Black: #1b1b1b;

  --Primary-Orange: #f26522;
  --Primary-Light-Orange: #fef4ef;
  --Primary-Mid-Orange: #ffa13a;
  --Primary-Dark-Orange: #df500d;

  --Secondary-Indigo: #1e196a;
  --Secondary-Light-Indigo: #eae9f1;
  --Secondary-Mid-Indigo: #3129ac;
  --Secondary-Dark-Indigo: #131045;

  --Light-Red: #ffc0c6;
  --Red: #d70015;

  --Light-Green: #e4ffed;
  --Green: #00872f;
}

body {
  font-family: var(--primary-font), sans-serif;
}
