@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* shows fall back font immediately, then swap to custom font when ready */
}

:root {
  /* Primary Font */
  --primary-font: "Inter";

  /* Font Size */
  --font-size-sm: 0.9169rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Headings */
  --heading-size-h1: 4.5rem;
  --heading-size-h2: 4rem;
  --heading-size-h3: 3rem;
  --heading-size-h4: 2rem;
  --heading-size-h5: 1.75rem;
  --heading-size-h6: 1.5rem;

  /* Colours */
  --white: #ffffff;

  --grey-100: #f8f8f8;
  --grey-200: #e6e6e6;
  --grey-300: #b1b1b1;
  --grey-400: #6c6c6c;
  --grey-600: #353535;
  --grey-900: #1b1b1b;

  --orange: #f26522; /* primary */
  --orange-100: #fef4ef;
  --orange-400: #ffa13a;
  --orange-700: #df500d;

  --indigo: #1e196a; /* secondary */
  --indigo-100: #eae9f1;
  --indigo-400: #3129ac;
  --indigo-900: #131045;

  --red-200: #ffc0c6;
  --red-600: #d70015;

  --green-100: #e4ffed;
  --green-600: #00872f;
}

body {
  font-family: var(--primary-font), sans-serif;
}
