.stationCardContainer {
    display: block;
    height: 76vh;
    width: 39vw;
    border: 2px solid var(--Neutral-Light-Gray);
    border-radius: 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}


